<h1><%= @season.name %> - Race Weekends</h1>

<% @weekends.each do |weekend| %>
  <%= link_to season_weekend_path(@season, weekend), class: weekend.past? ? 'past-weekend' : nil do %><%= weekend.gp_title %> - <%= weekend.timespan %><% end %><% if weekend.sprint? %> <span class="sprint-badge">SPRINT</span><% end %>
  <br><br>
<% end %>
<br><br>
<% if authenticated? %>
  <%= link_to "New Weekend", new_season_weekend_path(@season) %>
<% end %>
<br><br>
<%= link_to 'Back', root_path %>
