<div id="local_times" data-time-toggle-target="localTimes" data-controller="local-times" <%= 'style="display: none;"'.html_safe if local_assigns[:authed] %>>
  <table>
    <tbody>
      <% @weekend.events.includes(:day, :session).order("days.date, events.start_time").each do |event| %>
        <tr data-local-times-target="event" data-utc-time="<%= event.start_datetime&.iso8601 %>" class="<%= event_row_classes(event, @next_event) %>">
          <td><%= event.series_name %></td>
          <td><%= event.session_name %></td>
          <td><%= local_time(event.start_datetime, "%H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
