<h1><%= @weekend.gp_title %></h1>
<h2><%= @weekend.location %>, <%= @weekend.timespan %></h2>
<h2><%= @weekend.local_timezone %> (<%= @weekend.local_time_offset %>)</h2>

<% if @next_event && @show_countdown %>
  <div class="countdown-container"
       data-controller="countdown"
       data-countdown-target-time-value="<%= @next_event.start_datetime.iso8601 %>"
       data-countdown-session-name-value="<%= @next_event.session_name %> (<%= @next_event.series_name %>)">
    <h3 class="countdown-label"><%= @next_event.session_name %> (<%= @next_event.series_name %>) starts in</h3>
    <div class="simply-countdown" data-countdown-target="timer"></div>
  </div>
<% end %>

<% authed = authenticated? %>
<div data-controller="time-toggle">
  <div class="time_buttons">
    <a href="javascript:void(0);" data-action="click->time-toggle#showLocal" data-time-toggle-target="localButton" class="<%= 'clicked ' unless authed %>time_button">
      <h3>Local Times</h3>
    </a>
    <a href="javascript:void(0);" data-action="click->time-toggle#showTrack" data-time-toggle-target="trackButton" class="time_button">
      <h3>Track Times</h3>
    </a>
    <% if authed %>
      <a href="javascript:void(0);" data-action="click->time-toggle#showUtc" data-time-toggle-target="utcButton" class="clicked time_button">
        <h3>UTC Times</h3>
      </a>
    <% end %>
  </div>

  <%= render "local_times", authed: authed %>
  <%= render "track_times", authed: authed %>
  <% if authed %>
    <%= render "utc_times" %>
  <% end %>
</div>

<br><br>
<% if authed %>
  <%= link_to "Edit Weekend", edit_season_weekend_path(@season, @weekend) %> |
  <%= link_to "Delete Weekend", season_weekend_path(@season, @weekend), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this weekend?", turbo_prefetch: false } %> |
  <%= link_to "'Print' View", print_season_weekend_path(@season, @weekend) %>
<% end %>
<%= link_to 'Back', season_path(@season) %>
