<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "F1 Local Timing" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= cookies[:theme] || 'light' %>">
    <div class="logo">
      <%= link_to root_path do %>
        <%= theme_logo_image %>
      <% end %>
    </div>

    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <%= yield %>

    <% unless print_view? %>
      <br><br>
      <%= theme_toggle_link %>

      <br><br>
      Support development on <%= link_to "Patreon", "https://www.patreon.com/f1furs" %> or on <%= link_to "Ko-fi", "https://ko-fi.com/thatwingwaffl" %>
      <br><br>
      I legally have to disclose the use of cookies to display the right theme, and to set your local timezone.
      <br><br>
      <%= link_to "The source code is publicly available here, if you'd like to check.", "https://github.com/dantherussell/f1_local_timing" %>
    <% end %>
  </body>
</html>
