<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "F1 Local Timing - Print" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body class="<%= cookies[:theme] || 'light' %>">
    <div class="logo">
      <% if cookies[:theme] == "dark" %>
        <%= image_tag "f1_furs_dark.png", size: '424x56', alt: "" %>
      <% else %>
        <%= image_tag "f1_furs_light.png", size: '424x56', alt: "" %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
