<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "F1 Local Timing - Print" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body class="light">
    <%= yield %>
  </body>
</html>
